<div style="border: 1px solid rebeccapurple; padding: 5px">
  <h3>Component: Weather Widget</h3>  
  <button {{action 'getWeather'}}>Get weather</button>
  <div class="weather-output"></div>
  <p>Temp: {{temp}}</p>
  <p>Timezone: {{timezone}}</p>
  <p>Summary: {{summary}}</p>
</div>