<h2>Incomes</h2>
{{!--Use a component whenever you find yourself reusing logic/ partials. Use block form to send values in which will be rendered with yield--}}
{{#add-value action="addValue"}}
  Incomes
{{/add-value}}